body {
    background-image: url(/images/grass-big.jpg);
}

label {
    padding-right: 25px;
    font-weight: 700;
}

#prompt, #monthInput {
    padding-top: 10px;
    padding-bottom: 10px;
    border-color: black;
    background-color: grey;
    font-family: 'Courier New', Courier, monospace;
}

#return-text {
    color: black;
}


#explain {
    font-size: 30px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 20px;
}

#info {
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 20px;
}




