body {
    background-image: url(/images/grass-big.jpg);
}

#scores {
    padding-bottom: 25px;
    list-style-position: inside;
    font-size: 30px;
}

p {
    color:black;
}

table, tr, td {
    border: 2px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}

td {
    padding: 8px;
}