body {
    background-image: url(/images/grass-big.jpg);
}

#scores {
    padding-bottom: 25px;
    list-style-position: inside;
    font-size: 30px;
    table-layout: fixed;
}

#menu {
    background-color: #D2B48C;
    color: #5C4033;
}

p {
    color:black;
}

table, tr, td, th{
    border: 2px solid;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

td {
    padding: 8px;
}
