body {
    background-image: url(/images/grass-big.jpg) ;
    width: 100%;
    background-color: black;
    background-repeat: no-repeat;
    margin: 0;    
}


#action {
    width: 85vh;
    border: 10px solid;
}


#info {
    width: 20vw;
    border-radius: 10px;
    background-color: #30AD5A;
    color: black;
    font-family: 'Kdam Thmor Pro', sans-serif;
    padding-left: 10px;
}

#mid-page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#travel-line {
    width: 95vw;
    border: 20px solid rgb(26, 92, 26);
    border-radius: 5px;
}


#wagon {
    position: absolute;
    transform: scaleX(-1);
}




