<!DOCTYPE html>

<html>
    <head>
        <title>Temp Title</title>

        <audio id="music" src="/music/trail-music.mp3"></audio>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <h1 id="title">Oregon Trail</h1>

        <p class="reg-text fade-in-text" id="return-text">Press the Spacebar to continue</p>


        <script src="/js/global.js"></script>
        <script src="/js/index.js"></script>
    </body>
</html>