<!DOCTYPE html>

<html>
    <head>
        <title>Temp Title</title>

        <!-- I'm guessinng this is for the blinking text. You should use your own. -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/index.js"></script>


        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/index.css">
    </head>

    <body>
        <h1 id="title">Oregon Trail</h1>

        <p class="reg-text fade-in-text" id="return-text">Press the Spacebar to continue</p>
    </body>
</html>