<!DOCTYPE html>

<html>
    <head>

       
        <script src="/js/global.js"></script>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/setup.css">

        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch:wght@500&display=swap" rel="stylesheet">
    </head>


    <body>
        <h1 id="label">Oregon Trail</h1>

        <div id="menu">
        </div>

        
        <p id="return-text">Press "/" to return to main menu.</p>
        



        <script src="/js/setup.js"></script>
    </body>
</html>