<!DOCTYPE html>

<html>
    <head>

       
        <script src="/js/global.js"></script>
        <script src="/js/setup.js"></script>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/setup.css">
    </head>


    <body>
        <h1 id="label">Oregon Trail</h1>

        <div id="menu">
            <br>
            <ol id="options">
                <li id="option-1">Be a banker from Boston</li>
                <li id="option-2">Be a carpenter from Ohio</li>
                <li id="option-3">Be a farmer from Illinios</li>
                <li id="option-4">Find out the differences between the choices</li>
            </ol>
        </div>


        <p id="return-text">Press spacebar to return to main menu.</p>
    </body>
</html>