<!DOCTYPE html>

<html>
    <head>

        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="/js/global.js"></script>
        <script src="/js/topten.js"></script>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/topten.css">
    </head>


    <body>
        <div id="menu">
            <h2 id="menu-title">Top Ten Scores</h2>
            <ol id="scores"></ol>
        </div>

        <p id="return-text">Press spacebar to return to main menu.</p>
    </body>
</html>