<!DOCTYPE html>

<html>
    <head>


        <script src="/js/global.js"></script>
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="/css/trail.css">
        <link rel="stylesheet" href="/css/global.css">
    </head>
    
    
    
    <body>
        
        <h1 id="label">Oregon Trail</h1>
        
        
            <hr id="travel-line" />
        
        <div id="mid-page">
            
            <div id="info">
                <p id="days-text"></p>
                <p id="miles-text"></p>
                <p id="health-text"></p>
                <p id="weather-text"></p>
                <p id="pace-text"></p>
                <p id="terrain-text"></p>
                <p id="alive-text"></p>
            </div>
            
            <img id="action" />
        </div>
        
        
        
        <p id="return-text">Press spacebar to return to main menu</p>
        
        
        <script src="/js/trail.js"></script>
    </body>
    </html>