<!DOCTYPE html>

<html>
    <head>


        <script src="/js/global.js"></script>
        <script src="/js/trail.js"></script>

        <link rel="stylesheet" href="/css/global.css">
        <link rel="stylesheet" href="/css/trail.css">
    </head>



    <body>

        <h1 id="label">Oregon Trail</h1>

        <div id="mid-page">

            <div id="info">
                <p class="info-text">Days on trail</p>
                <p class="info-text">Miles traveled</p>
                <p class="info-text">Party health status</p>
                <p class="info-text">Current weather</p>
                <p class="info-text">Current pace</p>
                <p class="info-text">Current terrain</p>
                <p class="info-text"># of party members alive</p>
            </div>

            <img  src="/images/forest.jpg" />
        </div>



        <p id="return-text">Press spacebar to return to main menu</p>
    </body>
</html>